<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Contact</title>
</head>
<body>
  <h1>This is <%= title %>'s contact ejs</h1>
  <form action="action_page.php">
  <fieldset>
  <legend>Send <%= title %> a message:</legend>
  First name:<br>
  <input type="text" name="firstname" placeholder="James">
  <br>
  Last name:<br>
  <input type="text" name="lastname" placeholder="Hetfield">
  <br>
  Message:<br>
  <input type="text" name="message" placeholder="I can't read your mind...">
  <br>
  <br>
  <input type="submit" value="Submit"></fieldset>
  </form>
</body>
</html>
