<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to <%= title %>'s page.  It says a lot about about about about about <%= title %>, and let's you order copies of <%= title %>.</h1>
</body>
</html>
